<ion-content class = "loginPage">
  <ion-card class = "logincard">
         <ion-text class = "text1">Welcome To Bhillwara Movie Tickets Booking App</ion-text>
          <ion-img src = "../assets/log2.png"></ion-img><br><br>  
          <ion-img src = "../assets/login2.png" style = "margin:2px auto;"></ion-img><br><br> 
        <ion-item>
            <ion-input type = "text" name = "userId" placeholder = "user name"></ion-input>
          </ion-item>
          <ion-item style = "margin-top:10px;">
              <!-- <ion-thumbnail slot="end">
                  <ion-icon name="eye-off" class = "eyeIcon"></ion-icon>
              </ion-thumbnail> -->
              <ion-input type = "password" name = "userPassword" placeholder = "password"></ion-input>
              <ion-icon name="eye-off" class = "eyeIcon"></ion-icon>
            </ion-item><br>
            <ion-text class = "fp">Forgot password?</ion-text><br><br>
            <ion-button expand="block" class = "clearFloat btn">Login</ion-button><br><br><br>
            <ion-text class = "acc" style = "padding-left:10px">Dont Have An Account?</ion-text>&nbsp;
            <ion-text class = "acc" style = "color:#2d0de2">SignUp</ion-text>
          
              
  </ion-card> 
</ion-content>
